node_modules
tmp
offer.json

eval-*-permit.json
eval-*-plan.json
eval-*.js

,tx.json

bundles/
dist/

.env

# Hardhat files
cache
artifacts

# TypeChain files
typechain
typechain-types

# solidity-coverage files
coverage
coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments
.qodo

.cargo
.beaker
.gitkeep
target/
.github